.api-method {
    margin: @api-method-padding/2 -@api-method-padding;

    &:last-of-type {
        margin-bottom: 0;
    }

    .api-method-definition {
        padding: 0 @api-method-padding;
    }

    .api-method-code {
        padding: @api-method-padding @api-method-padding @api-method-padding/2;
        background-color: @api-code-background;
        border-top: @api-method-border;
        border-bottom: @api-method-border;

        pre>code {
            .white-space(pre-wrap);
            word-wrap: break-word;
        }
    }

    &:after {
        clear: both;
    }
}

.book {
    &.two-columns {
        .api-method {
            position: relative;
            width: calc(~"100% +" 2*@api-method-padding);
            overflow: auto;

            &:before {
                content: '';
                clear: both;
            }

            &:after {
                content: '';
                clear: both;
                position: absolute;
                bottom: 0;
            }

            .api-method-title {
                margin-top: 0;
            }

            .api-method-definition {
                float: left;
                width: 50%;
            }

            .api-method-code {
                position: relative;
                float: left;
                width: 50%;
                margin: @api-method-padding/2 auto 0;
                padding: @api-method-padding @api-method-padding @api-method-padding/2;
                border-left: @api-method-border;
                border-top: none;
                border-bottom: none;
            }
        }
    }
}